Support weak entity-tags

> RFC 2616, Section 3.11
> 
> ```
>  entity-tag = [ weak ] opaque-tag
>  weak       = "W/"
>  opaque-tag = quoted-string
> ```
> 
> A "strong entity tag" MAY be shared by two entities of a resource only if they are equivalent by octet equality.
> 
> A "weak entity tag," indicated by the "W/" prefix, MAY be shared by two entities of a resource only if the entities are equivalent and could be substituted for each other with no significant change in semantics. A weak entity tag can only be used for weak comparison.

In many cases it is more efficient to render a entity tag based on the internal representation than a tag based on the selected media type, especially where the external representations are close-enough to logically equivalent. We should have an API that makes it simple to generate a weak ETag, maybe something like this:

``` ruby
def generate_etag
   weak_etag { Digest::MD5.hexdigest(@internal.to_s) }
end
```

Where without the block it might generate `"8690ab2353f7a7f25bf99c9aa64b7f24"`, with the block it would generate `W/"8690ab2353f7a7f25bf99c9aa64b7f24"` as the ETag. This might also affect some decision logic; although clients are required to treat the ETag as opaque, it might be valid to match a strong tag against an equivalent weak one (more research needed).
